.header {
  align-items: center;
  background-color: var(--color-tertiary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--space-m);
  padding: var(--space-m);
  width: 100%;
  @include media(tabletAndUp) {
    padding: var(--space-m) var(--space-xxxxl);
  }

  &__home-link {
    color: var(--color-text-header);

    &:hover {
      color: inherit;
      filter: brightness(80%);
    }
  }
}