.post-heading {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: var(--space-l);
  width: 100%;

  @include media(tabletAndUp) {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  };

  & h1 {
    grid-column: 1;
    justify-self: center;

    @include media(tabletAndUp) {
      grid-column: 2;
    }
  }

  & .btn {
    grid-column: span 2;
    justify-self: center;

    @include media(tabletAndUp) {
      grid-column: 3;
    }
  }
}
