.post {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-bottom: var(--space-xl);
  padding: var(--space-xs);
  width: 100%;

  @include media(tabletAndUp) {
    max-width: 35rem;
  }

  &__content {
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--space-m);
    position: relative;
  }

  &__title {
    margin-left: var(--space-m);
    margin-bottom: var(--space-xs);
  }

  &__body {
    margin-right: 3rem;
  }

  &__author {
    color: var(--color-text-header);
    font-weight: bold;
    position: absolute;
    bottom: var(--space-xs);
    right: var(--space-xs);
  }
}
